*, *:after, *:before {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@font-face {
  font-family: "icomoon";
  src: url('../fonts/icomoon.eot?1409741790');
  src: url('../fonts/icomoon.eot?&1409741790#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff?1409741790') format('woff'), url('../fonts/icomoon.ttf?1409741790') format('truetype'), url('../fonts/icomoon.svg?1409741790') format('svg');
}
@font-face {
  font-family: "tlou";
  src: url('../fonts/tlou.eot?1409741790');
  src: url('../fonts/tlou.eot?&1409741790#iefix') format('embedded-opentype'), url('../fonts/tlou.woff?1409741790') format('woff'), url('../fonts/tlou.ttf?1409741790') format('truetype'), url('../fonts/tlou.svg?1409741790') format('svg');
}
body {
  background: #1d1d1b url('../images/background.jpg?1409741790') no-repeat top center;
  color: #eaeadb;
  text-align: center;
  background-size: cover;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
  -moz-transition: margin 0.5s;
  -o-transition: margin 0.5s;
  -webkit-transition: margin 0.5s;
  transition: margin 0.5s;
}
body.open {
  margin-left: 320px;
  overflow: hidden;
}

html {
  width: 100%;
  height: 100%;
}

.loadout-calc {
  padding: 40px 20px 20px;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}
.loadout-calc:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: lightskyblue;
}

.loadout-calc__cols {
  *zoom: 1;
}
.loadout-calc__cols:after {
  content: "";
  display: table;
  clear: both;
}

.loadout-calc__slots-col {
  float: left;
  width: 300px;
  border-right: 2px solid #eaeadb;
  padding-right: 7px;
}

.loadout-calc__skills-col {
  float: left;
  width: 820px;
  padding-left: 20px;
}
.loadout-calc__skills-col:after {
  content: "";
  display: table;
  clear: both;
}

.loadout-calc__info-col {
  float: left;
  width: 100%;
  border-bottom: 2px solid #eaeadb;
  margin-bottom: 7px;
}
.loadout-calc__info-col:after {
  content: "";
  display: table;
  clear: both;
}

.loadout-calc__skill-list-col {
  float: left;
  width: 300px;
  height: 440px;
  overflow: hidden;
  overflow-y: auto;
  border-right: 2px solid #eaeadb;
  position: relative;
}

.loadout-skills {
  margin: 0;
  padding: 0 7px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loadout-calc__details-col {
  padding-bottom: 20px;
  float: left;
  width: 500px;
}

.skill-detail__more {
  border-top: 2px solid #eaeadb;
  margin-top: 20px;
  padding-top: 20px;
}
.skill-detail__more .list-item {
  margin: 0 0 7px;
}

.loadout-calc__footer-col {
  float: left;
  width: 100%;
  border-top: 2px solid #eaeadb;
  margin-top: 7px;
}

.loadout-dlc,
.loadout-share,
.loadout-random,
.loadout-reset {
  float: left;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 10px;
}
.loadout-dlc .new,
.loadout-share .new,
.loadout-random .new,
.loadout-reset .new {
  color: crimson;
}
.loadout-dlc input,
.loadout-share input,
.loadout-random input,
.loadout-reset input {
  border: none;
}

.loadout-share {
  clear: both;
}

.shares {
  float: left;
  margin-top: -40px;
}
.shares:after {
  content: "";
  display: table;
  clear: both;
}

.disclaimer {
  text-align: center;
  margin-top: 12px;
  font-size: 12px;
}

.fb_iframe_widget {
  vertical-align: top;
}

.mobile-share-wrapper,
.back-button {
  display: none;
}

@media (max-width: 700px) {
  .loadout-calc {
    padding: 0;
  }

  .loadout-calc__skills-col {
    width: 100%;
    padding: 0;
  }

  h1,
  .shares .loadout-dlc,
  .loadout-share,
  .loadout-calc__footer-col {
    display: none;
  }

  .mobile-share-wrapper {
    text-align: center;
    display: block;
    margin: 10px auto;
  }
  .mobile-share-wrapper .loadout-dlc {
    margin: 10px auto;
    display: block;
    float: none;
  }

  .mobile-share {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
  }
  .mobile-share span {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .back-button {
    display: block;
    text-align: center;
    margin: 10px 0;
    cursor: pointer;
  }

  .loadout-calc {
    width: 100%;
  }

  .loadout-calc__col {
    height: auto;
    width: 100%;
    padding-top: 56px;
    display: none;
  }
  .loadout-calc__col.active {
    display: block;
  }

  .loadout-calc__slots-col {
    z-index: 10;
    border-right: none;
    padding-right: 0;
  }

  .loadout-calc__info-col {
    position: fixed;
    background: rgba(29, 29, 27, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 14;
    text-align: center;
  }
  .loadout-calc__info-col .loadout-points {
    float: none;
    margin: 0 auto;
    font-size: 17px;
  }

  .loadout-random,
  .loadout-reset {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 15;
    text-align: center;
    margin: 0;
    text-indent: -119988px;
    overflow: hidden;
    text-align: left;
    text-transform: capitalize;
  }
  .loadout-random span,
  .loadout-reset span {
    text-indent: 0;
    margin: 15px;
  }

  .loadout-random {
    left: auto;
    right: 0;
  }

  .loadout-calc__skill-list-col {
    border-right: none;
  }
  .loadout-calc__skill-list-col .loadout-skills {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .loadout-calc__skill-list-col .loadout-skills__slot {
    padding: 7px 20px;
  }

  .loadout-calc__details-col.hide {
    display: none;
  }
  .loadout-calc__details-col .skill-detail {
    padding: 10px;
  }
  .loadout-calc__details-col .weapon-bars {
    max-width: 100%;
  }
}
.loadout-sidebar {
  position: fixed;
  top: 0;
  left: -320px;
  z-index: 100;
  width: 320px;
  height: 100%;
  padding: 20px;
  background: #111;
  overflow: scroll;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
.open .loadout-sidebar {
  left: 0;
}

.user-area {
  clear: both;
  text-align: center;
}
@media (min-width: 700px) {
  .user-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background: #111;
  }
  .user-area * {
    height: 3em;
    line-height: 3em;
    padding: 0 20px;
    cursor: pointer;
    color: #eaeadb;
    text-decoration: none;
  }
}
.open .user-area {
  display: none;
}

.sidebar-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 3em;
  line-height: 3em;
  padding: 0 20px;
  cursor: pointer;
  color: #eaeadb;
  text-decoration: none;
  background: #111;
}

.user-login {
  border-style: solid;
  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #eaeadb;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  -moz-transition: all 200ms;
  -o-transition: all 200ms;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  white-space: nowrap;
  font-weight: normal;
  padding: 8px 10px 7px;
  font-size: 15px;
  background-color: #3D3A3A;
  border-color: #666B6F;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
.user-login:hover {
  background-color: #444444;
}

.user-logout {
  font-size: 12px;
  cursor: pointer;
}

.loadoutForm {
  padding: 20px 0;
}
.loadoutForm input {
  margin-right: 10px;
}

.loadout-save {
  cursor: pointer;
}

.loadout-row {
  width: 100%;
  height: 3em;
  line-height: 3em;
  border-bottom: 1px solid #222;
  position: relative;
  padding: 0 1em 0 0;
}
.loadout-row:first-child {
  border-top: 1px solid #222;
}

.loadout-view {
  display: block;
  cursor: pointer;
  text-align: left;
}

.loadout-delete {
  color: crimson;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

[class^="icon-"], [class*=" icon-"] {
  position: relative;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  background-image: url('../images/icons/icon-default.png?1409741790');
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  margin-left: -50%;
}

.icon-skill-nothing:before {
  background-image: url('../images/icons/icon-nothing.png?1409741790');
}
.icon-skill-nothing.icon-level-2:before {
  background-image: url('../images/icons/icon-nothing-2.png');
}
.icon-skill-nothing.icon-level-3:before {
  background-image: url('../images/icons/icon-nothing-3.png');
}

.icon-skill-revolver:before {
  background-image: url('../images/icons/icon-revolver.png?1409741790');
}
.icon-skill-revolver.icon-level-2:before {
  background-image: url('../images/icons/icon-revolver-2.png');
}
.icon-skill-revolver.icon-level-3:before {
  background-image: url('../images/icons/icon-revolver-3.png');
}

.icon-skill-9mm:before {
  background-image: url('../images/icons/icon-9mm.png?1409741790');
}
.icon-skill-9mm.icon-level-2:before {
  background-image: url('../images/icons/icon-9mm-2.png');
}
.icon-skill-9mm.icon-level-3:before {
  background-image: url('../images/icons/icon-9mm-3.png');
}

.icon-skill-shorty:before {
  background-image: url('../images/icons/icon-shorty.png?1409741790');
}
.icon-skill-shorty.icon-level-2:before {
  background-image: url('../images/icons/icon-shorty-2.png');
}
.icon-skill-shorty.icon-level-3:before {
  background-image: url('../images/icons/icon-shorty-3.png');
}

.icon-skill-enforcer:before {
  background-image: url('../images/icons/icon-enforcer.png?1409741790');
}
.icon-skill-enforcer.icon-level-2:before {
  background-image: url('../images/icons/icon-enforcer-2.png');
}
.icon-skill-enforcer.icon-level-3:before {
  background-image: url('../images/icons/icon-enforcer-3.png');
}

.icon-skill-semi:before {
  background-image: url('../images/icons/icon-semi.png?1409741790');
}
.icon-skill-semi.icon-level-2:before {
  background-image: url('../images/icons/icon-semi-2.png');
}
.icon-skill-semi.icon-level-3:before {
  background-image: url('../images/icons/icon-semi-3.png');
}

.icon-skill-full:before {
  background-image: url('../images/icons/icon-full.png?1409741790');
}
.icon-skill-full.icon-level-2:before {
  background-image: url('../images/icons/icon-full-2.png');
}
.icon-skill-full.icon-level-3:before {
  background-image: url('../images/icons/icon-full-3.png');
}

.icon-skill-burst:before {
  background-image: url('../images/icons/icon-burst.png?1409741790');
}
.icon-skill-burst.icon-level-2:before {
  background-image: url('../images/icons/icon-burst-2.png');
}
.icon-skill-burst.icon-level-3:before {
  background-image: url('../images/icons/icon-burst-3.png');
}

.icon-skill-hunting:before {
  background-image: url('../images/icons/icon-hunting.png?1409741790');
}
.icon-skill-hunting.icon-level-2:before {
  background-image: url('../images/icons/icon-hunting-2.png');
}
.icon-skill-hunting.icon-level-3:before {
  background-image: url('../images/icons/icon-hunting-3.png');
}

.icon-skill-bow:before {
  background-image: url('../images/icons/icon-bow.png?1409741790');
}
.icon-skill-bow.icon-level-2:before {
  background-image: url('../images/icons/icon-bow-2.png');
}
.icon-skill-bow.icon-level-3:before {
  background-image: url('../images/icons/icon-bow-3.png');
}

.icon-skill-variable:before {
  background-image: url('../images/icons/icon-variable.png?1409741790');
}
.icon-skill-variable.icon-level-2:before {
  background-image: url('../images/icons/icon-variable-2.png');
}
.icon-skill-variable.icon-level-3:before {
  background-image: url('../images/icons/icon-variable-3.png');
}

.icon-skill-scoped-semi:before {
  background-image: url('../images/icons/icon-scoped-semi.png?1409741790');
}
.icon-skill-scoped-semi.icon-level-2:before {
  background-image: url('../images/icons/icon-scoped-semi-2.png');
}
.icon-skill-scoped-semi.icon-level-3:before {
  background-image: url('../images/icons/icon-scoped-semi-3.png');
}

.icon-skill-scoped-burst:before {
  background-image: url('../images/icons/icon-scoped-burst.png?1409741790');
}
.icon-skill-scoped-burst.icon-level-2:before {
  background-image: url('../images/icons/icon-scoped-burst-2.png');
}
.icon-skill-scoped-burst.icon-level-3:before {
  background-image: url('../images/icons/icon-scoped-burst-3.png');
}

.icon-skill-scoped-full:before {
  background-image: url('../images/icons/icon-scoped-full.png?1409741790');
}
.icon-skill-scoped-full.icon-level-2:before {
  background-image: url('../images/icons/icon-scoped-full-2.png');
}
.icon-skill-scoped-full.icon-level-3:before {
  background-image: url('../images/icons/icon-scoped-full-3.png');
}

.icon-skill-paz:before {
  background-image: url('../images/icons/icon-paz.png?1409741790');
}
.icon-skill-paz.icon-level-2:before {
  background-image: url('../images/icons/icon-paz-2.png?1409741790');
}
.icon-skill-paz.icon-level-3:before {
  background-image: url('../images/icons/icon-paz-3.png');
}

.icon-skill-ee:before {
  background-image: url('../images/icons/icon-ee.png?1409741790');
}
.icon-skill-ee.icon-level-2:before {
  background-image: url('../images/icons/icon-ee-2.png?1409741790');
}
.icon-skill-ee.icon-level-3:before {
  background-image: url('../images/icons/icon-ee-3.png');
}

.icon-skill-reviver:before {
  background-image: url('../images/icons/icon-reviver.png?1409741790');
}
.icon-skill-reviver.icon-level-2:before {
  background-image: url('../images/icons/icon-reviver-2.png?1409741790');
}
.icon-skill-reviver.icon-level-3:before {
  background-image: url('../images/icons/icon-reviver-3.png?1409741790');
}

.icon-skill-brawler:before {
  background-image: url('../images/icons/icon-brawler.png?1409741790');
}
.icon-skill-brawler.icon-level-2:before {
  background-image: url('../images/icons/icon-brawler-2.png?1409741790');
}
.icon-skill-brawler.icon-level-3:before {
  background-image: url('../images/icons/icon-brawler-3.png');
}

.icon-skill-covert:before {
  background-image: url('../images/icons/icon-covert.png?1409741790');
}
.icon-skill-covert.icon-level-2:before {
  background-image: url('../images/icons/icon-covert-2.png?1409741790');
}
.icon-skill-covert.icon-level-3:before {
  background-image: url('../images/icons/icon-covert-3.png?1409741790');
}

.icon-skill-sharp:before {
  background-image: url('../images/icons/icon-sharp.png?1409741790');
}
.icon-skill-sharp.icon-level-2:before {
  background-image: url('../images/icons/icon-sharp-2.png?1409741790');
}
.icon-skill-sharp.icon-level-3:before {
  background-image: url('../images/icons/icon-sharp-3.png?1409741790');
}

.icon-skill-strategist:before {
  background-image: url('../images/icons/icon-strategist.png?1409741790');
}
.icon-skill-strategist.icon-level-2:before {
  background-image: url('../images/icons/icon-strategist-2.png?1409741790');
}
.icon-skill-strategist.icon-level-3:before {
  background-image: url('../images/icons/icon-strategist-3.png?1409741790');
}

.icon-skill-hawk:before {
  background-image: url('../images/icons/icon-hawk.png?1409741790');
}
.icon-skill-hawk.icon-level-2:before {
  background-image: url('../images/icons/icon-hawk-2.png?1409741790');
}
.icon-skill-hawk.icon-level-3:before {
  background-image: url('../images/icons/icon-hawk-3.png?1409741790');
}

.icon-skill-crafter:before {
  background-image: url('../images/icons/icon-crafter.png?1409741790');
}
.icon-skill-crafter.icon-level-2:before {
  background-image: url('../images/icons/icon-crafter-2.png?1409741790');
}
.icon-skill-crafter.icon-level-3:before {
  background-image: url('../images/icons/icon-crafter-3.png?1409741790');
}

.icon-skill-fat:before {
  background-image: url('../images/icons/icon-fat.png?1409741790');
}
.icon-skill-fat.icon-level-2:before {
  background-image: url('../images/icons/icon-fat-2.png?1409741790');
}
.icon-skill-fat.icon-level-3:before {
  background-image: url('../images/icons/icon-fat-3.png?1409741790');
}

.icon-skill-ss:before {
  background-image: url('../images/icons/icon-ss.png?1409741790');
}
.icon-skill-ss.icon-level-2:before {
  background-image: url('../images/icons/icon-ss-2.png?1409741790');
}
.icon-skill-ss.icon-level-3:before {
  background-image: url('../images/icons/icon-ss-3.png?1409741790');
}

.icon-skill-marathon:before {
  background-image: url('../images/icons/icon-marathon.png?1409741790');
}
.icon-skill-marathon.icon-level-2:before {
  background-image: url('../images/icons/icon-marathon-2.png?1409741790');
}
.icon-skill-marathon.icon-level-3:before {
  background-image: url('../images/icons/icon-marathon-3.png');
}

.icon-skill-collector:before {
  background-image: url('../images/icons/icon-collector.png?1409741790');
}
.icon-skill-collector.icon-level-2:before {
  background-image: url('../images/icons/icon-collector-2.png?1409741790');
}
.icon-skill-collector.icon-level-3:before {
  background-image: url('../images/icons/icon-collector-3.png');
}

.icon-skill-executioner:before {
  background-image: url('../images/icons/icon-executioner.png?1409741790');
}
.icon-skill-executioner.icon-level-2:before {
  background-image: url('../images/icons/icon-executioner-2.png?1409741790');
}
.icon-skill-executioner.icon-level-3:before {
  background-image: url('../images/icons/icon-executioner-3.png?1409741790');
}

.icon-skill-scavenger:before {
  background-image: url('../images/icons/icon-scavenger.png?1409741790');
}
.icon-skill-scavenger.icon-level-2:before {
  background-image: url('../images/icons/icon-scavenger-2.png?1409741790');
}
.icon-skill-scavenger.icon-level-3:before {
  background-image: url('../images/icons/icon-scavenger-3.png?1409741790');
}

.icon-skill-damage:before {
  background-image: url('../images/icons/icon-damage.png?1409741790');
}
.icon-skill-damage.icon-level-2:before {
  background-image: url('../images/icons/icon-damage-2.png?1409741790');
}
.icon-skill-damage.icon-level-3:before {
  background-image: url('../images/icons/icon-damage-3.png');
}

.icon-skill-awareness:before {
  background-image: url('../images/icons/icon-awareness.png?1409741790');
}
.icon-skill-awareness.icon-level-2:before {
  background-image: url('../images/icons/icon-awareness-2.png?1409741790');
}
.icon-skill-awareness.icon-level-3:before {
  background-image: url('../images/icons/icon-awareness-3.png');
}

.icon-skill-fortitude:before {
  background-image: url('../images/icons/icon-fortitude.png?1409741790');
}
.icon-skill-fortitude.icon-level-2:before {
  background-image: url('../images/icons/icon-fortitude-2.png?1409741790');
}
.icon-skill-fortitude.icon-level-3:before {
  background-image: url('../images/icons/icon-fortitude-3.png?1409741790');
}

.icon-skill-gunslinger:before {
  background-image: url('../images/icons/icon-gunslinger.png?1409741790');
}
.icon-skill-gunslinger.icon-level-2:before {
  background-image: url('../images/icons/icon-gunslinger-2.png?1409741790');
}
.icon-skill-gunslinger.icon-level-3:before {
  background-image: url('../images/icons/icon-gunslinger-3.png?1409741790');
}

.icon-skill-bomb:before {
  background-image: url('../images/icons/icon-bomb.png?1409741790');
}
.icon-skill-bomb.icon-level-2:before {
  background-image: url('../images/icons/icon-bomb-2.png?1409741790');
}
.icon-skill-bomb.icon-level-3:before {
  background-image: url('../images/icons/icon-bomb-3.png?1409741790');
}

.icon-skill-agility:before {
  background-image: url('../images/icons/icon-agility.png?1409741790');
}
.icon-skill-agility.icon-level-2:before {
  background-image: url('../images/icons/icon-agility-2.png?1409741790');
}
.icon-skill-agility.icon-level-3:before {
  background-image: url('../images/icons/icon-agility-3.png?1409741790');
}

.icon-skill-double:before {
  background-image: url('../images/icons/icon-double.png?1409741790');
}
.icon-skill-double.icon-level-2:before {
  background-image: url('../images/icons/icon-double-2.png');
}
.icon-skill-double.icon-level-3:before {
  background-image: url('../images/icons/icon-double-3.png');
}

.icon-skill-diablo:before {
  background-image: url('../images/icons/icon-diablo.png?1409741790');
}
.icon-skill-diablo.icon-level-2:before {
  background-image: url('../images/icons/icon-diablo-2.png');
}
.icon-skill-diablo.icon-level-3:before {
  background-image: url('../images/icons/icon-diablo-3.png');
}

.icon-skill-assult:before {
  background-image: url('../images/icons/icon-assult.png?1409741790');
}
.icon-skill-assult.icon-level-2:before {
  background-image: url('../images/icons/icon-assult-2.png');
}
.icon-skill-assult.icon-level-3:before {
  background-image: url('../images/icons/icon-assult-3.png');
}

.icon-skill-shotgun:before {
  background-image: url('../images/icons/icon-shotgun.png?1409741790');
}
.icon-skill-shotgun.icon-level-2:before {
  background-image: url('../images/icons/icon-shotgun-2.png');
}
.icon-skill-shotgun.icon-level-3:before {
  background-image: url('../images/icons/icon-shotgun-3.png');
}

.icon-skill-sniper:before {
  background-image: url('../images/icons/icon-sniper.png?1409741790');
}
.icon-skill-sniper.icon-level-2:before {
  background-image: url('../images/icons/icon-sniper-2.png');
}
.icon-skill-sniper.icon-level-3:before {
  background-image: url('../images/icons/icon-sniper-3.png');
}

.icon-skill-flamethrower:before {
  background-image: url('../images/icons/icon-flamethrower.png?1409741790');
}
.icon-skill-flamethrower.icon-level-2:before {
  background-image: url('../images/icons/icon-flamethrower-2.png');
}
.icon-skill-flamethrower.icon-level-3:before {
  background-image: url('../images/icons/icon-flamethrower-3.png');
}

.icon-skill-machete:before {
  background-image: url('../images/icons/icon-machete.png?1409741790');
}
.icon-skill-machete.icon-level-2:before {
  background-image: url('../images/icons/icon-machete-2.png');
}
.icon-skill-machete.icon-level-3:before {
  background-image: url('../images/icons/icon-machete-3.png');
}

.icon-skill-spectre:before {
  background-image: url('../images/icons/icon-spectre.png?1409741790');
}
.icon-skill-spectre.icon-level-2:before {
  background-image: url('../images/icons/icon-spectre-2.png');
}
.icon-skill-spectre.icon-level-3:before {
  background-image: url('../images/icons/icon-spectre-3.png');
}

.icon-skill-launcher:before {
  background-image: url('../images/icons/icon-launcher.png?1409741790');
}
.icon-skill-launcher.icon-level-2:before {
  background-image: url('../images/icons/icon-launcher-2.png');
}
.icon-skill-launcher.icon-level-3:before {
  background-image: url('../images/icons/icon-launcher-3.png');
}

.icon-skill-shorty.icon-level-2:before {
  background-image: url('../images/icons/icon-shorty.png?1409741790');
}
.skill-detail .icon-skill-shorty.icon-level-2.loadout-slot__icon:before {
  background-image: url('../images/icons/icon-silencer.png?1409741790');
}

.icon-skill-enforcer.icon-level-2:before {
  background-image: url('../images/icons/icon-enforcer.png?1409741790');
}
.skill-detail .icon-skill-enforcer.icon-level-2.loadout-slot__icon:before {
  background-image: url('../images/icons/icon-silencer.png?1409741790');
}

.icon-skill-burst.icon-level-2:before {
  background-image: url('../images/icons/icon-burst.png?1409741790');
}
.skill-detail .icon-skill-burst.icon-level-2.loadout-slot__icon:before {
  background-image: url('../images/icons/icon-silencer.png?1409741790');
}

.icon-skill-hunting.icon-level-2:before {
  background-image: url('../images/icons/icon-hunting.png?1409741790');
}
.skill-detail .icon-skill-hunting.icon-level-2.loadout-slot__icon:before {
  background-image: url('../images/icons/icon-silencer.png?1409741790');
}

.icon-skill-scoped-semi.icon-level-2:before {
  background-image: url('../images/icons/icon-scoped-semi.png?1409741790');
}
.skill-detail .icon-skill-scoped-semi.icon-level-2.loadout-slot__icon:before {
  background-image: url('../images/icons/icon-silencer.png?1409741790');
}

.icon-skill-scoped-burst.icon-level-2:before {
  background-image: url('../images/icons/icon-scoped-burst.png?1409741790');
}
.skill-detail .icon-skill-scoped-burst.icon-level-2.loadout-slot__icon:before {
  background-image: url('../images/icons/icon-silencer.png?1409741790');
}

.icon-skill-variable.icon-level-2:before {
  background-image: url('../images/icons/icon-variable.png?1409741790');
}
.skill-detail .icon-skill-variable.icon-level-2.loadout-slot__icon:before {
  background-image: url('../images/icons/icon-silencer.png?1409741790');
}

.icon-skill-full.icon-level-2:before {
  background-image: url('../images/icons/icon-full.png?1409741790');
}
.skill-detail .icon-skill-full.icon-level-2.loadout-slot__icon:before {
  background-image: url('../images/icons/icon-silencer.png?1409741790');
}

.icon-skill-semi.icon-level-2:before {
  background-image: url('../images/icons/icon-semi.png?1409741790');
}
.skill-detail .icon-skill-semi.icon-level-2.loadout-slot__icon:before {
  background-image: url('../images/icons/icon-silencer.png?1409741790');
}

.icon-skill-9mm.icon-level-2:before {
  background-image: url('../images/icons/icon-9mm.png?1409741790');
}
.skill-detail .icon-skill-9mm.icon-level-2.loadout-slot__icon:before {
  background-image: url('../images/icons/icon-silencer.png?1409741790');
}

.loadout-slot--7 .loadout-slot__icon {
  background: transparent url('../images/icons/icon-gear.png?1409741790') no-repeat center center;
  background-size: auto 100%;
}
.loadout-slot--7 .loadout-slot__icon.icon-skill-nothing {
  background-image: none;
}
.loadout-slot--7 .loadout-slot__icon.icon-skill-nothing:before {
  background-image: url('../images/icons/icon-gear.png?1409741790');
}

.loadout-slot-wrapper--skill,
.loadout-slot-wrapper--weapon {
  border-bottom: 2px solid #eaeadb;
  padding-bottom: 2px;
}

.loadout-slot-wrapper--skill,
.loadout-slot-wrapper--purchase {
  padding-top: 2px;
}

.loadout-slot-wrapper--purchase .loadout-slot,
.loadout-slot-wrapper--weapon .loadout-slot {
  text-transform: uppercase;
}
.loadout-slot-wrapper--purchase .loadout-slot.empty,
.loadout-slot-wrapper--weapon .loadout-slot.empty {
  text-transform: none;
}

.loadout-slot {
  display: block;
  height: 67px;
  line-height: 50px;
  padding: 8px 10px;
  cursor: pointer;
}
.loadout-slot:focus, .loadout-slot.active, .loadout-slot:hover {
  padding: 6px 8px;
  border: 2px solid #eaeadb;
  -moz-box-shadow: inset 0 0 30px rgba(234, 234, 219, 0.4);
  -webkit-box-shadow: inset 0 0 30px rgba(234, 234, 219, 0.4);
  box-shadow: inset 0 0 30px rgba(234, 234, 219, 0.4);
}

.loadout-slot__icon {
  float: left;
  width: 50px;
  height: 50px;
}
.loadout-slot__icon:before {
  width: 106px;
  margin-left: -53px;
}
.shares .loadout-slot__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.icon-reset:before {
  background-image: url('../images/reset.png?1409741790');
}

.icon-random:before {
  background-image: url('../images/random.png?1409741790');
}

.icon-share:before {
  background-image: url('../images/share.png?1409741790');
}

.loadout-slot__name {
  float: right;
  padding-right: 7px;
}

.loadout-slot__cost {
  float: right;
  color: lightskyblue;
}
.loadout-slot__cost.over {
  color: crimson;
}

.loadout-skills__slot {
  display: block;
  height: 44px;
  line-height: 32px;
  padding: 6px 8px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.loadout-skills__slot:focus, .loadout-skills__slot.active, .loadout-skills__slot:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
.loadout-skills__slot:focus .loadout-slot__icon, .loadout-skills__slot.active .loadout-slot__icon, .loadout-skills__slot:hover .loadout-slot__icon {
  margin-left: 15px;
}
.loadout-skills__slot .loadout-slot__icon {
  width: 32px;
  height: 32px;
}
.loadout-skills__slot .loadout-slot__icon:before {
  width: 66px;
  margin-left: -33px;
}
.loadout-skills__slot .loadout-slot__name {
  float: left;
  padding-right: 0;
  padding-left: 20px;
}

.skill-detail {
  padding-left: 25px;
  padding-top: 10px;
}

.skill-detail__level_select {
  text-align: center;
  border-bottom: 2px solid #eaeadb;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.skill-detail__level_select:after {
  content: "";
  display: table;
  clear: both;
}
.skill-detail__level_select h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}
.skill-detail__level_select .loadout-slot__icon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: none;
  width: 42px;
  height: 42px;
  margin: 8px;
  cursor: pointer;
}
.skill-detail__level_select .loadout-slot__icon:before {
  margin-top: 2px;
  height: calc(100% - 4px);
  width: 80px;
  margin-left: -40px;
}
.skill-detail__level_select .loadout-slot__icon:focus, .skill-detail__level_select .loadout-slot__icon.active, .skill-detail__level_select .loadout-slot__icon:hover {
  border: 2px solid #eaeadb;
  z-index: 2;
}
.skill-detail__level_select .loadout-slot__icon:focus:before, .skill-detail__level_select .loadout-slot__icon.active:before, .skill-detail__level_select .loadout-slot__icon:hover:before {
  margin-top: 0;
  height: 100%;
}

.skill-detail__header {
  padding-left: 20px;
  margin-bottom: 10px;
}
.skill-detail__header:after {
  content: "";
  display: table;
  clear: both;
}

.skill-detail__icon {
  width: 50px;
  height: 50px;
  float: left;
}
.skill-detail__icon:before {
  width: 106px;
  margin-left: -53px;
}

.skill-detail__header-text {
  float: left;
  padding-left: 30px;
}

.skill-detail__name {
  display: block;
  font-size: 20px;
}

.skill-detail__cost {
  display: block;
  font-size: 22px;
  color: lightskyblue;
}
.skill-detail__cost.over {
  color: crimson;
}

.skill-detail__weapon {
  clear: both;
  margin-top: 10px;
}
.skill-detail__weapon:after {
  content: "";
  display: table;
  clear: both;
}

.weapon-bars {
  height: 8px;
  width: 338px;
  margin-bottom: 5px;
  background-size: 100% auto;
}

.weapon-bars--1 {
  background-image: url('../images/bars/1.png?1409741790');
}

.weapon-bars--2 {
  background-image: url('../images/bars/2.png?1409741790');
}

.weapon-bars--3 {
  background-image: url('../images/bars/3.png?1409741790');
}

.weapon-bars--4 {
  background-image: url('../images/bars/4.png?1409741790');
}

.weapon-bars--5 {
  background-image: url('../images/bars/5.png?1409741790');
}

.weapon-bars--6 {
  background-image: url('../images/bars/6.png?1409741790');
}

.weapon-bars--7 {
  background-image: url('../images/bars/7.png?1409741790');
}

.weapon-bars--8 {
  background-image: url('../images/bars/8.png?1409741790');
}

.weapon-bars--9 {
  background-image: url('../images/bars/9.png?1409741790');
}

.weapon-bars--10 {
  background-image: url('../images/bars/10.png?1409741790');
}

body {
  font-family: "tlou", "Myriad Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
  margin: 5px 0;
}

.loadout-points {
  font-size: 25px;
  font-weight: normal;
  margin: 5px 0;
  float: right;
}

.slot-name {
  float: left;
}
