*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "icomoon";
  src: url('../fonts/icomoon.eot?1402674152');
  src: url('../fonts/icomoon.eot?&1402674152#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff?1402674152') format('woff'), url('../fonts/icomoon.ttf?1402674152') format('truetype'), url('../fonts/icomoon.svg?1402674152') format('svg');
}
@font-face {
  font-family: "tlou";
  src: url('../fonts/tlou.eot?1402674152');
  src: url('../fonts/tlou.eot?&1402674152#iefix') format('embedded-opentype'), url('../fonts/tlou.woff?1402674152') format('woff'), url('../fonts/tlou.ttf?1402674152') format('truetype'), url('../fonts/tlou.svg?1402674152') format('svg');
}
body {
  background: black url('../images/background.jpg?1402674152') no-repeat top center;
  color: #aca99b;
  text-align: center;
}

.loadout-calc {
  overflow: hidden;
  *zoom: 1;
  padding: 60px 20px 20px;
  width: 1200px;
  margin: 0 auto;
  text-align: left;
}

a {
  color: lightskyblue;
}

.loadout-calc__cols {
  overflow: hidden;
  *zoom: 1;
}

.loadout-calc__slots-col {
  float: left;
  width: 300px;
  border-right: 2px solid #aca99b;
  padding-right: 7px;
}

.loadout-calc__skills-col {
  overflow: hidden;
  *zoom: 1;
  float: left;
  width: 820px;
  padding-left: 20px;
}

.loadout-calc__info-col {
  overflow: hidden;
  *zoom: 1;
  float: left;
  width: 100%;
  border-bottom: 2px solid #aca99b;
  margin-bottom: 7px;
}

.loadout-calc__skill-list-col {
  float: left;
  width: 300px;
  height: 440px;
  overflow: hidden;
  overflow-y: auto;
  border-right: 2px solid #aca99b;
  position: relative;
}

.loadout-skills {
  margin: 0;
  padding: 0 7px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loadout-calc__details-col {
  float: left;
  width: 500px;
}

.loadout-calc__footer-col {
  float: left;
  width: 100%;
  border-top: 2px solid #aca99b;
  margin-top: 7px;
}

.loadout-random,
.loadout-reset {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  cursor: pointer;
  margin-top: 20px;
  margin-right: 10px;
}
.loadout-random .new,
.loadout-reset .new {
  color: crimson;
}

.loadout-share {
  float: right;
  margin-top: 10px;
}
.loadout-share input {
  border: none;
}

.disclaimer {
  text-align: center;
  margin-top: 30px;
  font-size: 12px;
}

.fb_iframe_widget {
  vertical-align: top;
}

.loadout-slot-wrapper--skill,
.loadout-slot-wrapper--weapon {
  border-bottom: 2px solid #aca99b;
  padding-bottom: 2px;
}

.loadout-slot-wrapper--skill,
.loadout-slot-wrapper--purchase {
  padding-top: 2px;
}

.loadout-slot-wrapper--purchase .loadout-slot,
.loadout-slot-wrapper--weapon .loadout-slot {
  text-transform: uppercase;
}
.loadout-slot-wrapper--purchase .loadout-slot.empty,
.loadout-slot-wrapper--weapon .loadout-slot.empty {
  text-transform: none;
}

.loadout-slot {
  display: block;
  height: 67px;
  line-height: 50px;
  padding: 8px 10px;
  cursor: pointer;
}
.loadout-slot:focus, .loadout-slot.active, .loadout-slot:hover {
  padding: 6px 8px;
  border: 2px solid #aca99b;
}

.loadout-slot__icon {
  float: left;
  width: 50px;
  height: 50px;
}

.loadout-slot__name {
  float: right;
  padding-right: 7px;
}

.loadout-slot__cost {
  float: right;
  padding-left: 10px;
  color: lightskyblue;
}
.loadout-slot__cost.over {
  color: crimson;
}

.loadout-skills__slot {
  display: block;
  height: 44px;
  line-height: 32px;
  padding: 6px 8px;
  cursor: pointer;
}
.loadout-skills__slot:focus, .loadout-skills__slot.active, .loadout-skills__slot:hover {
  padding: 4px 6px;
  border: 2px solid #aca99b;
}
.loadout-skills__slot .loadout-slot__icon {
  width: 32px;
  height: 32px;
}
.loadout-skills__slot .loadout-slot__name {
  float: left;
  padding-right: 0;
  padding-left: 7px;
}

.skill-detail {
  padding-left: 25px;
  padding-top: 10px;
}

.skill-detail__level_select {
  overflow: hidden;
  *zoom: 1;
  text-align: center;
  border-bottom: 2px solid #aca99b;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.skill-detail__level_select h2 {
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
}
.skill-detail__level_select .loadout-slot__icon {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  float: none;
  padding: 7px;
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
}
.skill-detail__level_select .loadout-slot__icon:focus, .skill-detail__level_select .loadout-slot__icon.active, .skill-detail__level_select .loadout-slot__icon:hover {
  border: 2px solid #aca99b;
  padding: 5px;
}

.skill-detail__header {
  overflow: hidden;
  *zoom: 1;
  padding-left: 20px;
  margin-bottom: 10px;
}

.skill-detail__icon {
  width: 50px;
  height: 50px;
  float: left;
}

.skill-detail__header-text {
  float: left;
  padding-left: 25px;
}

.skill-detail__name {
  display: block;
  font-size: 20px;
}

.skill-detail__cost {
  display: block;
  font-size: 22px;
  color: lightskyblue;
}
.skill-detail__cost.over {
  color: crimson;
}

.skill-detail__weapon {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  margin-top: 10px;
}

.weapon-bars {
  height: 8px;
  width: 338px;
  margin-bottom: 5px;
  background-size: 100% auto;
}

.weapon-bars--1 {
  background-image: url('../images/bars/1.png?1402674152');
}

.weapon-bars--2 {
  background-image: url('../images/bars/2.png?1402674152');
}

.weapon-bars--3 {
  background-image: url('../images/bars/3.png?1402674152');
}

.weapon-bars--4 {
  background-image: url('../images/bars/4.png?1402674152');
}

.weapon-bars--5 {
  background-image: url('../images/bars/5.png?1402674152');
}

.weapon-bars--6 {
  background-image: url('../images/bars/6.png?1402674152');
}

.weapon-bars--7 {
  background-image: url('../images/bars/7.png?1402674152');
}

.weapon-bars--8 {
  background-image: url('../images/bars/8.png?1402674152');
}

.weapon-bars--9 {
  background-image: url('../images/bars/9.png?1402674152');
}

.weapon-bars--10 {
  background-image: url('../images/bars/10.png?1402674152');
}

[class^="icon-"], [class*=" icon-"] {
  position: relative;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  background-image: url('../images/icons/icon-default.png?1402674427');
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100px;
  margin-left: -50px;
}

.icon-skill-nothing:before {
  background-image: url('../images/icons/icon-nothing.png');
}

.icon-skill-revolver:before {
  background-image: url('../images/icons/icon-revolver.png');
}

.icon-skill-9mm:before {
  background-image: url('../images/icons/icon-9mm.png');
}

.icon-skill-shorty:before {
  background-image: url('../images/icons/icon-shorty.png');
}

.icon-skill-enforcer:before {
  background-image: url('../images/icons/icon-enforcer.png');
}

.icon-skill-semi:before {
  background-image: url('../images/icons/icon-semi.png');
}

.icon-skill-full:before {
  background-image: url('../images/icons/icon-full.png?1402674480');
}

.icon-skill-burst:before {
  background-image: url('../images/icons/icon-burst.png');
}

.icon-skill-hunting:before {
  background-image: url('../images/icons/icon-hunting.png');
}

.icon-skill-bow:before {
  background-image: url('../images/icons/icon-bow.png?1402674424');
}

.icon-skill-paz:before {
  background-image: url('../images/icons/icon-paz.png');
}

.icon-skill-ee:before {
  background-image: url('../images/icons/icon-ee.png');
}

.icon-skill-reviver:before {
  background-image: url('../images/icons/icon-reviver.png');
}

.icon-skill-brawler:before {
  background-image: url('../images/icons/icon-brawler.png');
}

.icon-skill-covert:before {
  background-image: url('../images/icons/icon-covert.png');
}

.icon-skill-sharp:before {
  background-image: url('../images/icons/icon-sharp.png');
}

.icon-skill-strategist:before {
  background-image: url('../images/icons/icon-strategist.png');
}

.icon-skill-hawk:before {
  background-image: url('../images/icons/icon-hawk.png');
}

.icon-skill-crafter:before {
  background-image: url('../images/icons/icon-crafter.png');
}

.icon-skill-fat:before {
  background-image: url('../images/icons/icon-fat.png');
}

.icon-skill-ss:before {
  background-image: url('../images/icons/icon-ss.png');
}

.icon-skill-marathon:before {
  background-image: url('../images/icons/icon-marathon.png');
}

.icon-skill-collector:before {
  background-image: url('../images/icons/icon-collector.png');
}

.icon-skill-executioner:before {
  background-image: url('../images/icons/icon-executioner.png?1402674427');
}

.icon-skill-scavenger:before {
  background-image: url('../images/icons/icon-scavenger.png');
}

.icon-skill-damage:before {
  background-image: url('../images/icons/icon-damage.png');
}

.icon-skill-awareness:before {
  background-image: url('../images/icons/icon-awareness.png');
}

.icon-skill-fortitude:before {
  background-image: url('../images/icons/icon-fortitude.png');
}

.icon-skill-gunslinger:before {
  background-image: url('../images/icons/icon-gunslinger.png');
}

.icon-skill-bomb:before {
  background-image: url('../images/icons/icon-bomb.png');
}

.icon-skill-agility:before {
  background-image: url('../images/icons/icon-agility.png');
}

.icon-skill-double:before {
  background-image: url('../images/icons/icon-double.png');
}

.icon-skill-diablo:before {
  background-image: url('../images/icons/icon-diablo.png');
}

.icon-skill-assult:before {
  background-image: url('../images/icons/icon-assult.png');
}

.icon-skill-shotgun:before {
  background-image: url('../images/icons/icon-shotgun.png');
}

.icon-skill-sniper:before {
  background-image: url('../images/icons/icon-sniper.png');
}

.icon-skill-flamethrower:before {
  background-image: url('../images/icons/icon-flamethrower.png');
}

.icon-skill-machete:before {
  background-image: url('../images/icons/icon-machete.png');
}

.icon-skill-spectre:before {
  background-image: url('../images/icons/icon-spectre.png');
}

.icon-skill-launcher:before {
  background-image: url('../images/icons/icon-launcher.png');
}

body {
  font-family: "tlou", "Myriad Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: normal;
  margin: 0 0 20px 0;
}

h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
  margin: 5px 0;
}

.loadout-points {
  font-size: 25px;
  font-weight: normal;
  margin: 5px 0;
  float: right;
}

.slot-name {
  float: left;
}
