@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_box-sizing\.scss}line{font-family:\0000334}}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_box-sizing\.scss}line{font-family:\0000336}}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_fluid-media\.scss}line{font-family:\000034}}
img, video {
  max-width: 100%;
  height: auto; }

/* No files to import found in variables/**\/* */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\000031}}
body {
  background: black;
  color: white;
  text-align: center; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\000036}}
.loadout-calc {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  padding: 60px 20px;
  width: 1200px;
  margin: 0 auto;
  text-align: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000347}}
  .loadout-calc:before, .loadout-calc:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000355}}
  .loadout-calc:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000315}}
.loadout-calc__cols {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000347}}
  .loadout-calc__cols:before, .loadout-calc__cols:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000355}}
  .loadout-calc__cols:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000318}}
.loadout-calc__slots-col {
  float: left;
  width: 300px;
  border-right: 2px solid white;
  padding-right: 7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000324}}
.loadout-calc__skills-col {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  float: left;
  width: 820px;
  padding-left: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000347}}
  .loadout-calc__skills-col:before, .loadout-calc__skills-col:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000355}}
  .loadout-calc__skills-col:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000330}}
.loadout-calc__info-col {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  float: left;
  width: 100%;
  border-bottom: 2px solid white;
  margin-bottom: 7px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000347}}
  .loadout-calc__info-col:before, .loadout-calc__info-col:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Library\/Ruby\/Gems\/2\.0\.0\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_clearfix\.scss}line{font-family:\0000355}}
  .loadout-calc__info-col:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000337}}
.loadout-calc__skill-list-col {
  float: left;
  width: 300px;
  border-right: 2px solid white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000342}}
.loadout-calc__details-col {
  float: left;
  width: 500px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000346}}
.loadout-calc__footer-col {
  float: left;
  height: 40px;
  width: 100%;
  border-top: 2px solid white;
  margin-top: 7px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000355}}
.loadout-calc__slot {
  display: block;
  height: 67px;
  padding: 2px;
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000360}}
  .loadout-calc__slot:hover {
    padding: 0;
    border: 2px solid white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000365}}
.loadout-calc__slot--small {
  height: 44px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000368}}
.loadout-calc__slot-wrapper--weapon {
  border-bottom: 2px solid white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_layout\.scss}line{font-family:\0000371}}
.loadout-calc__slot-wrapper--purchase {
  border-top: 2px solid white; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_typography\.scss}line{font-family:\000031}}
body {
  font-family: "Myriad Pro"; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_typography\.scss}line{font-family:\000034}}
h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: normal;
  margin: 0 0 20px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_typography\.scss}line{font-family:\0000310}}
h2 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: normal;
  margin: 5px 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_typography\.scss}line{font-family:\0000316}}
.loadout-points {
  font-size: 25px;
  font-weight: normal;
  margin: 5px 0;
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/gabrielemanna\/sites\/tlou-loadout\/sass\/partials\/_typography\.scss}line{font-family:\0000322}}
.slot-name {
  float: left; }
