<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="loadoutApp"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>The Last of Us Loadout Calculator</title>
    <meta name="description" content="Create your own Loadouts with The Last of Us Factions Loadout Calculator">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="/favicon.png">
    <meta property="og:image" content="http://www.tlou-loadout.com/apple-touch-icon-precomposed.png"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.2.16/angular-route.js"></script>
    <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  </head>
  <body ng-cloak>
    <!--[if lt IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <div ng-controller="LoadoutCalcCtrl" class="loadout-calc">
      <h1 title="The Last of Us Loadout Calculator"><img src="images/logo.png" /></h1>
      <div class="loadout-calc__cols">
        <div class="loadout-calc__col loadout-calc__slots-col" ng-class="{active: skillSet == '' && skillDetail == ''}">
          <div class="loadout-slot-wrapper loadout-slot-wrapper--weapon">
            <div class="loadout-slot loadout-slot--1" ng-class="{active: skillSlot == 1}" ng-click="setSkillSet('small', 1)">
              <span class="loadout-slot__icon icon-level-{{slots.0.level}} icon-skill-{{slots.0.id}}"></span>
              <span class="loadout-slot__cost" ng-class="{over: remainingPoints < 0}">{{getSlotCost(0)}}</span>
              <span class="loadout-slot__name">{{getSlotName(0)}}</span>
            </div>
            <div class="loadout-slot loadout-slot--2"  ng-class="{empty: slots.1.name == 'No Large Firearm'}" ng-class="{active: skillSlot == 2}" ng-click="setSkillSet('large', 2)">
              <span class="loadout-slot__icon icon-level-{{slots.1.level}} icon-skill-{{slots.1.id}}"></span>
              <span class="loadout-slot__cost" ng-class="{over: remainingPoints < 0}">{{getSlotCost(1)}}</span>
              <span class="loadout-slot__name">{{getSlotName(1)}}</span>
            </div>
          </div>
          <div class="loadout-slot-wrapper loadout-slot-wrapper--skill">
            <div class="loadout-slot loadout-slot--{{$index + 3}}" ng-class="{active: skillSlot == $index + 3}" ng-click="setSkillSet('skill', $index + 3)" ng-repeat="i in getRepeat(4) track by $index">
              <span class="loadout-slot__icon icon-level-{{slots[$index + 2].level}} icon-skill-{{slots[$index + 2].id}}"></span>
              <span class="loadout-slot__cost" ng-class="{over: remainingPoints < 0}">{{getSlotCost($index + 2)}}</span>
              <span class="loadout-slot__name">{{getSlotName($index + 2)}}</span>
            </div>
          </div>
          <div class="loadout-slot-wrapper loadout-slot-wrapper--purchase">
            <div class="loadout-slot loadout-slot--7"  ng-class="{empty: slots.6.name == 'No Purchasable'}" ng-class="{active: skillSlot == 7}" ng-click="setSkillSet('purchase', 7)">
              <span class="loadout-slot__icon icon-level-{{slots.6.level}} icon-skill-{{slots.6.id}}"></span>
              <span class="loadout-slot__cost" ng-class="{over: remainingPoints < 0}">{{getSlotCost(6)}}</span>
              <span class="loadout-slot__name">{{getSlotName(6)}}</span>
            </div>
          </div>
          <div class="mobile-share-wrapper">
            <a class="mobile-share" href="{{share()}}" target="_blank"><span class="loadout-slot__icon icon-share"></span> Share link</a>
            <label class="loadout-dlc">Exclude DLC in random loadouts: <input type="checkbox" ng-model="hideDlc"></label>
          </div>
        </div>
        <div class="loadout-calc__skills-col">
          <div class="loadout-calc__info-col">
            <h2 class="slot-name">{{slotName}}</h2>
            <span class="loadout-points">{{remainingPoints}}/13 Loadout Points</h2>
          </div>
          <div class="loadout-calc__col loadout-calc__skill-list-col" ng-class="{active: skillSet != '' && skillDetail == ''}">
            <span class="back-button" ng-click="hideSkillList()">< Back</span>
            <ul class="loadout-skills loadout-skills--weapon" ng-show="getSkillSet('small')">
              <li class="loadout-skills__slot" ng-class="activeSkillClass(skill.id)" ng-repeat="skill in skills.small" ng-click="setSkillDetail(skill.id)">
                <span class="loadout-slot__icon icon-level-1 icon-skill-{{skill.id}}"></span>
                <span class="loadout-slot__cost" ng-class="{over: skill.levels.0.cost > remainingPoints}">{{skill.levels.0.cost}}</span>
                <span class="loadout-slot__name">{{skill.name}}</span>
              </li>
            </ul>
            <ul class="loadout-skills loadout-skills--weapon" ng-show="getSkillSet('large')">
              <li class="loadout-skills__slot" ng-class="activeSkillClass(skill.id)" ng-repeat="skill in skills.large" ng-click="setSkillDetail(skill.id)">
                <span class="loadout-slot__icon icon-level-1 icon-skill-{{skill.id}}"></span>
                <span class="loadout-slot__cost" ng-class="{over: skill.levels.0.cost > remainingPoints}">{{skill.levels.0.cost}}</span>
                <span class="loadout-slot__name">{{skill.name}}</span>
              </li>
            </ul>
            <ul class="loadout-skills loadout-skills--skill" ng-show="getSkillSet('skill')">
              <li class="loadout-skills__slot" ng-class="activeSkillClass(skill.id)" ng-repeat="skill in skills.skill" ng-click="setSkillDetail(skill.id)">
                <span class="loadout-slot__icon icon-level-1 icon-skill-{{skill.id}}"></span>
                <span class="loadout-slot__cost" ng-class="{over: skill.levels.0.cost > remainingPoints}">{{skill.levels.0.cost}}</span>
                <span class="loadout-slot__name">{{skill.name}}</span>
              </li>
            </ul>
            <ul class="loadout-skills loadout-skills--purchase" ng-show="getSkillSet('purchase')">
              <li class="loadout-skills__slot" ng-class="activeSkillClass(skill.id)" ng-repeat="skill in skills.purchase" ng-click="setSkillDetail(skill.id)">
                <span class="loadout-slot__icon icon-level-1  icon-skill-{{skill.id}}"></span>
                <span class="loadout-slot__cost" ng-class="{over: skill.levels.0.cost > remainingPoints}">{{skill.levels.0.cost}}</span>
                <span class="loadout-slot__name">{{skill.name}}</span>
              </li>
            </ul>
          </div>
          <div class="loadout-calc__col loadout-calc__details-col" ng-class="{active: skillDetail != ''}">
            <div class="skill-detail-wrapper" ng-repeat="(cat, category) in skills">
              <div class="skill-detail" ng-repeat="skill in category" ng-show="getSkillDetail(skill.id)">
                <div class="skill-detail__level_select">
                  <h2>Select level</h2>
                  <span class="back-button" ng-click="hideDetails()">< Back</span>
                  <span class="loadout-slot__icon icon-level-{{key + 1}}  icon-skill-{{skill.id}}"  ng-class="{active: skillLevel == key}" ng-repeat="(key, level) in skill.levels" ng-mouseover="setSkillLevel(key)" ng-click="setSkill(skill)"></span>
                </div>
                <div class="skill-detail__content" ng-repeat="(key, level) in skill.levels" ng-show="getSkillLevel(key)">
                  <div class="skill-detail__header">
                    <span class="skill-detail__icon icon-level-{{key + 1}} icon-skill-{{skill.id}}"></span>
                    <div class="skill-detail__header-text">
                      <span class="skill-detail__name">{{skillName(skill.name, key + 1, cat)}}</span>
                      <span class="skill-detail__cost" ng-class="{over: level.cost > remainingPoints}">{{level.cost}} Points</span>
                    </div>
                  </div>
                  <span class="skill-detail__description">{{level.description}}</span>
                  <div class="skill-detail__weapon" ng-if="skill.rate">
                    <label>Fire rate</label>
                    <div class="weapon-bars weapon-bars--{{skill.rate}}"></div>
                    <label>Reload Speed</label>
                    <div class="weapon-bars weapon-bars--{{skill.reload}}"></div>
                    <label>Damage</label>
                    <div class="weapon-bars weapon-bars--{{skill.damage}}"></div>
                    <label>Accuracy</label>
                    <div class="weapon-bars weapon-bars--{{skill.accuracy}}"></div>
                  </div>
                  <div class="skill-detail__more" ng-if="skill.more">
                    <div ng-repeat="item in skill.more">
                      <div class="list-item"><span ng-if="item.label">{{item.label}}: </span>{{item.value}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="loadout-calc__footer-col">
            <p class="disclaimer">Built by <a href="http://www.fredparke.com" target="_blank">FreddyBushBoy</a>. Icons kindly provided by <a href="http://www.reddit.com/u/machete_Badger" target="_blank">/u/machete_Badger</a>.<br /> The Last of Us is copyright of “Naughty Dog” - © “Naughty Dog” 2014. All rights reserved.</p>
          </div>
        </div>
      </div>
      <div class="shares">
        <span class="loadout-reset" ng-click="resetLoadout()"><span class="loadout-slot__icon icon-reset"></span> Reset Loadout</span>
        <span class="loadout-random" ng-click="randomLoadout()"><span class="loadout-slot__icon icon-random"></span> Random Loadout</span>
        <span class="loadout-share" ng-click="shareOn = true" onClick="setTimeout(function(){document.getElementById('shareinput').select();}, 200);"><span class="loadout-slot__icon icon-share"></span> Share Loadout <input id="shareinput" ng-show="shareOn" type="text" size="48" onClick="this.select();" value="{{share()}}"></span>
        <label class="loadout-dlc">Exclude DLC in random loadouts: <input type="checkbox" ng-model="hideDlc"></label>
      </div>
    <script src="js/app.js"></script>
    <script src="js/controllers/loadoutCalcCtrl.js"></script>
    <script src="js/services/skillService.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-51603002-1');ga('send','pageview');
        </script>
  </body>
</html>
