@import "compass/css3/font-face";

@include font-face(
  "icomoon",
  font-files(
    "icomoon.woff",
    "icomoon.ttf",
    "icomoon.svg"
  ),
  "icomoon.eot"
);
@include font-face(
  "tlou",
  font-files(
    "tlou.woff",
    "tlou.ttf",
    "tlou.svg"
  ),
  "tlou.eot"
);

$white: #eaeadb;

$main-font: "tlou", "Myriad Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
$icon-font: 'icomoon';
