body {
  background: #1d1d1b image-url('background.jpg') no-repeat top center;
  color: $white;
  text-align: center;
  background-size: cover;
  margin: 0;
}
.loadout-calc {
  @include clearfix;
  padding: 40px 20px 20px;
  width: 1200px; // 1120 content area.
  margin: 0 auto;
  text-align: left;
}
a {
  color: lightskyblue;
}

// Cols.
.loadout-calc__cols {
  @include pie-clearfix;
}
.loadout-calc__slots-col {
  float: left;
  width: 300px;
  border-right: 2px solid $white;
  padding-right: 7px;
}
.loadout-calc__skills-col {
  @include clearfix;
  float: left;
  width: 820px;
  padding-left: 20px;
}
.loadout-calc__info-col {
  @include clearfix;
  float: left;
  width: 100%;
  border-bottom: 2px solid $white;
  margin-bottom: 7px;
}
.loadout-calc__skill-list-col {
  float: left;
  width: 300px;
  height: 440px;
  overflow: hidden;
  overflow-y: auto;
  border-right: 2px solid $white;
  position: relative;
}
.loadout-skills {
  margin: 0;
  padding: 0 7px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loadout-calc__details-col {
  float: left;
  width: 500px;
}
.loadout-calc__footer-col {
  float: left;
  width: 100%;
  border-top: 2px solid $white;
  margin-top: 7px;
}

.loadout-share,
.loadout-random,
.loadout-reset {
  float: left;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 10px;
  .new {
    color: crimson;
  }
  input {
    border: none;
  }
}
.loadout-share {
  clear: both;
}
.shares {
  @include clearfix;
  float: left;
  margin-top: -40px;
}
.disclaimer {
  text-align: center;
  margin-top: 12px;
  font-size: 12px;
}
.fb_iframe_widget {
  vertical-align: top;
}
.mobile-share-wrapper,
.back-button {
  display: none;
}
@include breakpoint(max-width 700px) {
  body {
    left: 0;
    -webkit-overflow-scrolling: touch;
    position: fixed;
    overflow: hidden;
    top: 0;
    width: 100%;
    height: 100%;
  }
  h1,
  .loadout-calc__footer-col {
    display: none;
  }
  .mobile-share-wrapper {
    text-align: center;
    display: block;
    margin: 10px auto;
  }
  .mobile-share {
    @include inline-block;
    span {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
  }
  .back-button {
    display: block;
    text-align: center;
    margin: 10px 0;
  }
  .loadout-calc {
    width: 100%;
  }
  .loadout-calc__col  {
    background: #1d1d1b image-url('background.jpg') no-repeat top center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding-top: 56px;
  }
  .loadout-calc__slots-col {
    z-index: 10;
    border-right: none;
    padding-right: 0;
  }
  .loadout-calc__info-col {
    background: #1d1d1b image-url('background.jpg') no-repeat top center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    z-index: 14;
    text-align: center;
    .loadout-points {
      float: none;
      margin: 0 auto;
      font-size: 17px;
    }
  }
  .loadout-random,
  .loadout-reset {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    z-index: 15;
    text-align: center;
    margin: 0;
    @include hide-text;
    span {
      text-indent: 0;
      margin: 15px;
    }
  }
  .loadout-random {
    left: auto;
    right: 0;
  }
  .loadout-calc__skill-list-col {
    &.active {
      z-index: 11;
    }
    .loadout-skills {
      position: static;
      top: 0;
      left: 0;
      width: 100%;
      height: auto;
    }
    .loadout-skills__slot {
      padding: 7px 20px;
    }
  }
  .loadout-calc__details-col {
    &.active {
      z-index: 12;
    }
    &.hide {
      display: none;
    }
    .skill-detail {
      padding: 10px;
    }
    .weapon-bars {
      max-width: 100%;
    }
  }
}
