body {
  background: #1d1d1b image-url('background.jpg') no-repeat top center;
  color: $white;
  text-align: center;
  background-size: cover;
}
.loadout-calc {
  @include clearfix;
  padding: 40px 20px 20px;
  width: 1200px; // 1120 content area.
  margin: 0 auto;
  text-align: left;
}
a {
  color: lightskyblue;
}

// Cols.
.loadout-calc__cols {
  @include pie-clearfix;
}
.loadout-calc__slots-col {
  float: left;
  width: 300px;
  border-right: 2px solid $white;
  padding-right: 7px;
}
.loadout-calc__skills-col {
  @include clearfix;
  float: left;
  width: 820px;
  padding-left: 20px;
}
.loadout-calc__info-col {
  @include clearfix;
  float: left;
  width: 100%;
  border-bottom: 2px solid $white;
  margin-bottom: 7px;
}
.loadout-calc__skill-list-col {
  float: left;
  width: 300px;
  height: 440px;
  overflow: hidden;
  overflow-y: auto;
  border-right: 2px solid $white;
  position: relative;
}
.loadout-skills {
  margin: 0;
  padding: 0 7px 0 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.loadout-calc__details-col {
  float: left;
  width: 500px;
}
.loadout-calc__footer-col {
  float: left;
  width: 100%;
  border-top: 2px solid $white;
  margin-top: 7px;
}

.loadout-share,
.loadout-random,
.loadout-reset {
  float: left;
  cursor: pointer;
  margin-right: 15px;
  margin-top: 10px;
  .new {
    color: crimson;
  }
  input {
    border: none;
  }
}
.loadout-share {
  clear: both;
}
.shares {
  @include clearfix;
  float: left;
  margin-top: -40px;
}
.disclaimer {
  text-align: center;
  margin-top: 12px;
  font-size: 12px;
}
.fb_iframe_widget {
  vertical-align: top;
}
