// Wrappers.
.loadout-slot-wrapper--skill,
.loadout-slot-wrapper--weapon {
  border-bottom: 2px solid white;
  padding-bottom: 2px;
}
.loadout-slot-wrapper--skill,
.loadout-slot-wrapper--purchase {
  padding-top: 2px;
}

// Slots.
.loadout-slot {
  display: block;
  height: 67px;
  line-height: 50px;
  padding: 8px 10px;
  cursor: pointer;
  &.active,
  &:hover {
    padding: 6px 8px;
    border: 2px solid white;
  }
}
.loadout-slot__icon {
  float: left;
  font-size: 50px;
}
.loadout-slot__name {
  float: right;
  padding-left: 10px;
}
.loadout-slot__cost {
  float: right;
  padding-left: 10px;
}

// Skills.
.loadout-skills {
  margin: 0;
  padding: 0;
}
.loadout-skills__slot {
  display: block;
  height: 44px;
  line-height: 32px;
  padding: 6px 8px;
  cursor: pointer;
  &.active,
  &:hover {
    padding: 4px 6px;
    border: 2px solid white;
  }
  .loadout-slot__icon {
    font-size: 32px;
  }
}

// Details.
.skill-detail {
  padding-left: 25px;
  padding-top: 10px;
}
.skill-detail__level_select {
  @include clearfix;
  text-align: center;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
  h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin: 0;
  }
  .loadout-slot__icon {
    @include inline-block;
    float: none;
    padding: 7px;
    font-size: 40px;
    margin: 5px;
    cursor: pointer;
    &.active,
    &:hover {
      border: 2px solid white;
      padding: 5px;
    }
  }
}
.skill-detail__header {
  @include clearfix;
  padding-left: 20px;
  margin-bottom: 10px;
}
.skill-detail__icon {
  font-size: 50px;
  float: left;
}
.skill-detail__header-text {
  float: left;
  padding-left: 25px;
}
.skill-detail__name {
  display: block;
  font-size: 20px;
}
.skill-detail__cost {
  display: block;
  font-size: 22px;
}

